<
a name =""> </a>.icon-blank {
	background: url('icons/blank.gif') no-repeat;
}

.icon-add {
	background: url('icons/edit_add.png') no-repeat;
}

.icon-list {
	background: url('icons/list.gif') no-repeat;
}

.icon-edit {
	background: url('icons/pencil.png') no-repeat;
}

.icon-mail_go {
	background: url('icons/email_go.png') no-repeat;
}

.icon-remove {
	background: url('icons/edit_remove.png') no-repeat;
}

.icon-accept {
	background: url('icons/accept.png') no-repeat;
}

.icon-save {
	background: url('icons/filesave.png') no-repeat;
}

.icon-cut {
	background: url('icons/cut.png') no-repeat;
}

.icon-ok {
	background: url('icons/ok.png') no-repeat;
}

.icon-no {
	background: url('icons/no.png') no-repeat;
}

.icon-cancel {
	background: url('icons/cancel.png') no-repeat;
}

.icon-reload {
	background: url('icons/reload.png') no-repeat;
}

.icon-search {
	background: url('icons/search.png') no-repeat;
}

.icon-print {
	background: url('icons/print.png') no-repeat;
}

.icon-help {
	background: url('icons/help.png') no-repeat;
}

.icon-undo {
	background: url('icons/undo.png') no-repeat;
}

.icon-undoBidding {
	background: url('icons/undoBidding.png') no-repeat;
}

.icon-redo {
	background: url('icons/redo.png') no-repeat;
}

.icon-back {
	background: url('icons/back.png') no-repeat;
}

.icon-sum {
	background: url('icons/sum.png') no-repeat;
}

.icon-tip {
	f background: url('icons/tip.png') no-repeat;
}

.icon-view {
	background: url('icons/preview.png') no-repeat;
}

.icon-download {
	background: url('icons/download.png') no-repeat;
}

.icon-upload {
	background: url('icons/arrow_up.png') no-repeat;
}

.icon-return {
	background: url('icons/return.png') no-repeat;
}

.icon-close {
	background: url('icons/close.png') no-repeat;
}

.icon-user {
	background: url('icons/user.png') no-repeat;
}

.icon-home {
	background: url('icons/home.png') no-repeat;
}

.icon-password {
	background: url('icons/password.png') no-repeat;
}

.icon-logout {
	background: url('icons/logout.png') no-repeat;
}

.icon-mini-add {
	background: url('icons/mini_add.png') no-repeat 2px 2px;
}

.icon-mini-edit {
	background: url('icons/mini_edit.png') no-repeat 2px 2px;
}

.icon-mini-refresh {
	background: url('icons/mini_refresh.png') no-repeat 3px 2px;
}

.icon-reset {
	background: url('icons/reset.png') no-repeat;
}

.icon-check {
	background: url('icons/check.png') no-repeat;
}

.icon-menu-ADD_USER {
	background: url('icons/user_add.png') no-repeat;
}

.icon-menu-USER_LIST {
	background: url('icons/user_list.png') no-repeat;
}

.icon-menu-ADD_ROLE {
	background: url('icons/user_add.png') no-repeat;
}

.icon-menu-ROLE_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-PARAM_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-PARAM_ADD {
	background: url('icons/edit_add.png') no-repeat;
}

.icon-menu-MERC_INFO_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-MERC_ACCOUNT_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-TEMPLATE_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-GATE_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-RECHARGE_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-SEND_SMS_AUDIT {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-SMS_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-UNSUBSCRIBE_USER_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-BLCK_USER_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-MERC_USER_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-SENSTIVE_WORD_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-MERC_COUNT_RECORD {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-CHANNEL_COUNT_RECORD {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-CUS_MANAGER_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-SMS_INBOX_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-HWITE_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-IP_AUTH_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-SYSPARAM_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-SYSPARAM_ADD {
	background: url('icons/edit_add.png') no-repeat;
}

.icon-menu-SYSPARAM_EDIT {
	background: url('icons/pencil.png') no-repeat;
}

.icon-menu-SYSPARAM_VIEW {
	background: url('icons/preview.png') no-repeat;
}

.icon-menu-MOBILEOPERATER_LIST {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-MERC_TRANS_COUNT {
	background: url('icons/list.png') no-repeat;
}

.icon-menu-MOBILEOPERATER_ADD {
	background: url('icons/edit_add.png') no-repeat;
}