<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
		"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!-- <property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://192.16.1.239:13306/sms_trade" />
				<property name="username" value="smsTradeUser" />
				<property name="password" value="sms123456" /> -->
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://172.31.53.33:3306/sms_trade" />
				<property name="username" value="" />
				<property name="password" value="" />	<!-- &amp;  为转义字符 SsTU&451004&% -->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sms/dao/TemplateMapper.xml"/>
		<mapper resource="com/sms/dao/SensitiveWordMapper.xml"/>
	</mappers>

</configuration>