<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.0.xsd   
        http://www.springframework.org/schema/mvc   
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd   
        http://www.springframework.org/schema/tx   
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<bean id="propertyConfigurer"
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="locations">
				<list>
					<!-- 开发 -->
					<value>classpath:conf/db-config.properties</value>
					<value>classpath:conf/other-config.properties</value>
					<value>classpath:conf/batchs-config.properties</value>
					<!-- 部署 -->
					<!-- <value>file:${user.dir}/conf/db-config.properties</value> 
					<value>file:${user.dir}/conf/other-config.properties</value>
					<value>file:${user.dir}/conf/batchs-config.properties</value> -->
				</list>
			</property>
	</bean>
	
	<!-- 指定Sping组件扫描的基本包路径 -->
	<context:component-scan base-package="com.godai"></context:component-scan>
	
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	
	<!-- hession 服务定义 -->
	<import resource="classpath:spring-hession.xml" />
	<!-- 数据源配置 -->
	<import resource="classpath:datasource-config.xml" />

	<!-- Crm db MyBatis -->
	<bean id="sqlSessionFactoryTrade" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceTrade" />
		<property name="mapperLocations" value="classpath*:com/godai/trade/dao/*.xml" />
		<property name="typeAliasesPackage" value="com.godai.trade.entity" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>

	<bean id="tradeMapperScan" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.godai.trade.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryTrade" />
	</bean>

	<!-- 事物配置 -->
	<bean id="txTradeManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSourceTrade" />
	</bean>

	<!-- 配置事物的注解方式注入 -->
	<tx:annotation-driven transaction-manager="txTradeManager" />
	
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="${taskExecutor.corePoolSize}" />
		<property name="maxPoolSize" value="${taskExecutor.maxPoolSize}" />
		<property name="WaitForTasksToCompleteOnShutdown" value="true" />
	</bean>

	<!-- quartz config -->
	<import resource="classpath:spring-quartz.xml" />
	
</beans>  